.landingContainer {
  background: blue;
  height: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  height: "400px";
  width: "200px";
  padding: 100px;
}


.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navContainer {
  display: flex;
  padding: 50px;
  width: 100%;
  align-items: center;
  background-color: black;
  
}

.navContainer a {
  text-decoration: none;
  color: white;
}

.blockL {
  display: flex;
  width: 50%;

}

.blockR {
  display: flex;
  width: 50%;
  justify-content: space-between;
  font-size: 25pt;
  font-family: 'Bauhaus';
}

.musicContainer {
  display: flex;
  background-color: black;
  color: white;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.musicContainerHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bauhaus';
  font-size: 20pt;

}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.linkContainer a{
  text-decoration: none;
  color: white;
  font-family: 'Bauhaus';
  font-size: 30pt;
  
}