.navContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.blockL {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  z-index: 0;
  background-color: #FAE7C4;
}

.blockR a {
  text-decoration: none;
  color:black;
}

.blockR {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  font-size: 25pt;
  font-family: 'Bauhaus';
  text-decoration: none;
}

@media screen and (max-width: 600px){
  .blockR {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 20pt;
  }

  .navContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;  
  }

  .desc {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 7pt;
  }

}

.homeContainer {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  min-height: 1440px;
  z-index: -1;
  
}

.homeLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  margin-top: 10%;
}

.link a {
  text-decoration: none;
  color: #F39626;
  font-family: 'Bauhaus';
  font-size: 35pt;
}

.musicContainer {
  display: flex;
  flex-direction: column;
  background-color: #FAE7C4;
  min-height: 1440px;
  align-items: center;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  background-color: #FAE7C4;
  min-height: 1440px;
  align-items: center;
  font-size: 30pt;
}

.desc {
  display: flex;
  flex-direction: column;
  background-color: #FAE7C4;
  font-family: 'Bauhaus';
  font-size: 25pt;
}

.links {
  display: flex;
  margin-top: 75px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.galleryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAE7C4;
  min-height: 1440px;
}

.imgwrapper {
  padding: 30px;
}

.videoBackground {
  z-index: -1;
  display: flex;
  justify-content: center;
}

.bgWrap {
  position:fixed;
  height: 100%;
  width: 100%;
  overflow: visible;
  z-index: -1;
  display:flex;
  justify-content: center;
  align-items: center;
}

.mainBack {
    background-color: #FAE7C4;
}